# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*

# Environment variables
.env

# TypeScript
dist/
*.tsbuildinfo

# Docker
docker-compose.override.yml
*.env

# VS Code
.vscode/
*.code-workspace

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
*.iml

# Miscellaneous
*.swp
*.swo